body {
    background-image: url("https://s2.loli.net/2023/03/06/AFzrGRNZOP9EtjX.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 16px;
}

/*head*/
.header-title {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    display: block;
    font-size: 16px;
    text-align: center;
    height: 2em;
    line-height: 2em;
    color: white;
    border-radius: 8px 8px 0 0;
    background: #4a4842;
    position: relative;
}

/*button*/
.header-light {
    position: absolute;
    top: 0.65em;
    display: block;
    height: 0.8em;
    width: 0.8em;
    border-radius: 0.8em;
}

.header-title .header-light:nth-child(1) {
    left: 1em;
    background: #e45c2d;
}

.header-title .header-light:nth-child(2) {
    left: 2.3em;
    background: #82817b;
}

.header-title .header-light:nth-child(3) {
    left: 3.6em;
    background: #82817b;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 1000px;
    height: 85vh;
    overflow: auto;
    margin: 0 auto 0 auto;
    border-radius: 0 0 10px 10px;
}

/*进度条*/
.container::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
}

.container::-webkit-scrollbar-track {
    background: #282d4f; /* color of the scrollbar track */
}

.container::-webkit-scrollbar-thumb {
    background: #573b8f; /* color of the scrollbar thumb */
    border-radius: 4px; /* roundness of the scrollbar thumb */
}

.container::-webkit-scrollbar-thumb:hover {
    background: #996cdd; /* color of the scrollbar thumb on hover */
}

.output {
    margin: 1em 1em 0 1em;
    color: #61afef;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
    white-space: pre-wrap;
}

.output-username {
    color: #e5b456;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
}

.output-prefix {
    color: #c678dd;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
}

.username {
    color: #e5b456;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 0 1em;
}

.prefix {
    color: #c678dd;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 0 0;
}

.input {
    display: flex;
    font-family: monospace;
    font-size: 16px;
}

.input input {
    background-color: transparent;
    color: #c678dd;
    border: none;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
}

.input input:focus {
    outline: none;
}

.input button {
    display: none;
}